<!-- ====================================================
header section -->
<header class="top-header">
	<div class="container">
		<div class="row">


			<div class="navbar-center"><div>
				<nav class="navbar navbar-default">
					<div class="container-fluid nav-bar">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<div id="center-devision">
	<ul class="nav navbar-nav navbar-center" >
								<li><a class="menu active" href="#home" >Home</a></li>
								<li><a class="menu" href="#about">about us</a></li>
													 <li><a class="menu" href="#team">our team</a></li>
								<li><a class="menu" href="#support">support </a></li>
								<li><a class="menu" href="#privacy">privacy</a></li>
													<li><a class="menu" href="#terms"> terms</a></li>
								<li><a class="menu" href="#contact"> contact us</a></li>
							</ul>

</div>

						</div><!-- /navbar-collapse -->
					</div><!-- / .container-fluid -->
				</nav>

				<div>

				</div>
									</div>
			</div>
		</div>
	</div>
</header> <!-- end of header area -->
			<section class="slider" id="home">
				<div class="container-fluid">
					<div class="row">

					    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
							<div class="header-backup"></div>
					        <!-- Wrapper for slides -->
				          <div class="carousel-inner" role="listbox">
				            <div class="item active">

                            <div class="slider_bg">


				<div class="logo1"><img src="/logo1.png"></div>

					                <div class="home_container">
				               			<div class="home_mob_img"><img src="/img_mobile.png" class="img-responsive"></div>
                                        <div class="home_content_bg"><div class="home_content_font1">Meet SpotPoto</div>
                                        <div class="home_content_font2">Face detection and recognition is a good application to detect and train the facial recognition.

We can detect faces and train the faces with their information. To train the faces, wecapture the user face Focus on one face at a time and press &quot;Submit&quot; button to record theface. You can take different movement of the faces.

After recognizing the faces (of more than two people), we can later search who the face belongs to. Result will display the information of the person.

You can view people you have tagged with after taping on the user faces.

Back and front camera are supported to make it easier and more fun experience. Have fun detecting the faces and save the faces of your friends and acquaintances.

Enjoy!

Please rate it if you like it.<br>


***** Features: *****<br>

> Detect faces: find where the faces are
> Save the faces on your application<br>

> Train faces with tagname.
>  View all faces that you have trained<br>

> Front and back camera</div>

<div class="home_content_app_button">
<div class="home_content_app_button1"><a href="https://itunes.apple.com/us/app/spotpoto/id1225867936?ls=1&mt=8"><img src="/icon_app1.jpg" class="img-responsive"></a></div>
<div class="home_content_app_button2"><a href="https://play.google.com/store/apps/details?id=com.spotpotoo&hl=en"><img src="/icon_app2.jpg" class="img-responsive"></a></div>
</div>


                                        </div></div>
					                </div>



				              </div>


<div style="background:#FFF" align="center"><img src="/line.jpg"></div>
					        <!-- Controls -->
					        <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next"><span class="sr-only">Next</span>
					        </a>
					    </div>

					</div>
				</div>
			</section><!-- end of slider section -->



				<!-- about section -->
				<section class="about text-center" id="about">
					<div class="container">
						<br><br>
							<h2>about us</h2>
							<h4>Face detection and recognition is a good application to detect and train the facial recognition. 
	We can detect faces and train the faces with their information. To train the faces, we capture the user face Focus on one face at a time and press "Submit" button to record the face. You can take different movement of the faces.  After recognizing the faces (of more than two people), we can later search who the face belongs to. Result will display the information of the person.  You can view people you have tagged with  after taping on the user faces.  Back and front camera are supported to make it easier and more fun experience.  Have fun detecting the faces and save the faces of your friends and acquaintances. Enjoy!
	</h4>
	<div><img src="/bg_aboutus.jpg" class="home-img img-responsive"></div>
					</div>
				</section><!-- end of about section -->

	            <!-- team section -->

            <!-- team section -->


			<section class="team" id="team">
				<div class="container">
						<div class="team-heading text-center">
							<h2>our team</h2>

							<h4></h4>
						</div>
						<div class="our-team cleafix">

							<div class="col-sm-4">
								<div class="person">
									<img class="img-responsive" src="/item1.jpg" alt="member-1">
								</div>
								<div class="person-detail">
									<div class="arrow-bottom"></div>
									<h3>Mr. Jassim al-Sayeed</h3>
									<h5>Chair Man</h5>
									<p></p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="person">
									<img class="img-responsive" src="/arvind.jpg" alt="member-1">
								</div>
								<div class="person-detail">
									<div class="arrow-bottom"></div>
									<h3>Arvind Tyagi </h3>
									<h5>Business Analyst</h5>
									<p></p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="person">
									<img class="img-responsive" src="/sunil.jpg" alt="member-1">
								</div>
								<div class="person-detail">
									<div class="arrow-bottom"></div>
									<h3>Sunil Kumar Verma</h3>
									<h5>IOS Development Lead</h5>
									<p></p>
								</div>
							</div>
							<div class="col-sm-4 col-sm-offset-2">
								<div class="person">
									<img class="img-responsive" src="/jayant.jpg" alt="member-1">
								</div>
								<div class="person-detail">
									<div class="arrow-bottom"></div>
									<h3>Jayant Minz </h3>
									<h5>Android Development Lead</h5>
									<p></p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="person">
									<img class="img-responsive" src="/ror-lead.jpg" alt="member-1">
								</div>
								<div class="person-detail">
									<div class="arrow-bottom"></div>
									<h3>Abhishek Kushwaha  </h3>
									<h5>ROR Development Lead</h5>
									<p></p>
								</div>
							</div>

						</div>



						<!--<div class="col-md-2 single-member col-sm-4">
							<div class="person">
								<img class="img-responsive" src="/item1.jpg" alt="member-1">
							</div>

							<div class="person-detail">
								<div class="arrow-bottom"></div>
								<h3>Mr. Graham</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>

						</div>

						 <div class="col-md-2 single-member col-sm-4">

							<div class="person-detail">
								<div class="arrow-top"></div>
								<h3>Mr. Jasim</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
							<div class="person">
								<img class="img-responsive" src="/item2.jpg" alt="member-2">
							</div>
						</div>
						<div class="col-md-2 single-member col-sm-4">
							<div class="person">
								<img class="img-responsive" src="/item3.jpg" alt="member-3">
							</div>
							<div class="person-detail">
								<div class="arrow-bottom"></div>
								<h3>Mr. Hovid</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
						</div>

						<div class="col-md-2 single-member col-sm-4">
							<div class="person-detail">
								<div class="arrow-top"></div>
								<h3>Mr Jasak</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
							<div class="person">
								<img class="img-responsive" src="/item4.jpg" alt="member-4">
							</div>
						</div>

						<div class="col-md-2 single-member col-sm-4">
							<div class="person">
								<img class="img-responsive" src="/item5.jpg" alt="member-5">
							</div>

							<div class="person-detail">
								<div class="arrow-bottom"></div>
								<h3>Mr. Joy Ka</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
						</div>

						<div class="col-md-2 single-member col-sm-4">

							<div class="person-detail">
								<div class="arrow-top"></div>
								<h3>Mr. Mikari</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
							<div class="person">
								<img class="img-responsive" src="/item6.jpg" alt="member-5">
							</div>

						</div> -->
				</div>
			</section><!-- end of team section -->

            <!-- service section starts here -->

			<section class="service text-center" id="support">
				<div class="container">
						<h2>Support</h2>
						<h4>Face detection and recognition is a good application to detect and train the facial recognition. 
We can detect faces and train the faces with their information. To train the faces, we capture the user face Focus on one face at a time and press "Submit" button to record the face. You can take different movement of the faces.  After recognizing the faces (of more than two people), we can later search who the face belongs to.
										</h4>
							</div>
							<div class="privacy_img"><img src="/service1.jpg" alt="" class="img-responsive"></div>

			</section><!-- end of support section -->

            <!-- privacy section -->
			<section class="about text-center" id="privacy">
				<div class="container">
					 <br><br>
						<h2>privacy</h2>
						<h4><br>
						  SpotPoto respects the privacy of its potential user and this ‘Privacy Policy’ is intended to demonstrate its commitment to better protect your privacy. This page is developed to help you understand-

What information we may collect from you
How we can protect your privacy and personal information
What choices you have on the usage of the information.
Designed to maintain transparency and reliability of any business operation, our policies include specific guidelines for using any of your personal information. SpotPoto reserves the right to update or modify these policies at any point of time.

We encourage you to read this Privacy policy and hope that the topics mentioned below will give you a clear idea about how we manage information about you.

Data collection
We may use your personal information provided in forms for your identification. The information used shall not be restricted to only name, email id, but other relevant information.

Our commitment to security
We guarantee complete security of your data and information besides preventing any sort of unauthorized access or redistribution, misuse, alteration or loss of data shared with us.

Changes in Policy
We may revise or update our Privacy terms whenever the need arises. However we shall make every effort to keep you informed about the changes and notify you from time to time.

Contact Information
SpotPoto welcomes your queries and comments related to its information handling practices and this Privacy Policy. Feel free to reach our executives or contact us directly at our office for any further information.
Privacy Policy.txt
Open with Google Docs
Displaying Privacy Policy.txt.</h4><div class="privacy_img"><img src="/bg_privacy.jpg" class="img-responsive"></div>

						</div></section>
			<!-- end of privacy section -->


            <!-- service section starts here -->

			<section class="service text-center" id="terms">
				<div class="container">
						<h2 class="m-b-35">Terms & Conditions</h2>
						<h4>Privacy Policy Spotpoto respects the privacy of its potential user and this ‘Privacy Policy’ is intended to demonstrate its commitment to better protect your privacy. This page is developed to help you understand- What information we may collect from you How we can protect your privacy and personal information What choices you have on the usage of the information. Designed to maintain transparency and reliability of any business operation, our policies include specific guidelines for using any of your personal information. SpotPoto reserves the right to update or modify these policies at any point of time. We encourage you to read this Privacy policy and hope that the topics mentioned below will give you a clear idea about how we manage information about you. Data collection We may use your personal information provided in forms for your identification. The information used shall not be restricted to only name, email id, but other relevant information. Our commitment to security We guarantee complete security of your data and information besides preventing any sort of unauthorized access or redistribution, misuse, alteration or loss of data shared with us. Changes in Policy We may revise or update our Privacy terms whenever the need arises. However we shall make every effort to keep you informed about the changes and notify you from time to time. Contact Information SpotPoto welcomes your queries and comments related to its information handling practices and this Privacy Policy. Feel free to reach our executives or contact us directly at our office for any further information.</h4>
				</div>
      </section><!-- end of service section -->







			<!-- map section -->
			<section class="api-map" id="contact">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 map" id="map"></div>
					</div>
				</div>
			</section><!-- end of map section -->

			<!-- contact section starts here -->
						<section class="contact">
				<div class="container">
					<div class="row">
							<div class="contact-caption clearfix">
								<div class="contact-heading text-center">
									<h2>contact us</h2>
								</div>



								<div class="col-md-10 col-md-offset-1 contact-form">
									<h3>leave us a message</h3>

									<%= form_tag( {:action => 'contact_us', :method => :contact_us}, {:class => 'form'}) do %>
									<!-- <form class="form"> -->
									  <%= text_field_tag :name, "" , type: "text", class: "form-control name", placeholder: "Full name" %>
									  <%= email_field_tag :email, "" , type: "text", class: "form-control email", placeholder: "Email", required: true %>
									  <%= text_field_tag :phone, "" , type: "text", class: "form-control phone", placeholder: "Phone" %>
									  <%= text_area_tag :message, "" , type: "text", class: " form-control message", id: "message" ,cols: "30", rows: "10",placeholder: "Message", required: true %>
										<input class="submit-btn" type="submit" value="SUBMIT" id="submit_button">
									<!-- </form> -->
									<% end %>
								</div>

							</div>
					</div>
				</div>
			</section>
			<!-- end of contact section -->


			<!-- footer starts here -->
			<footer class="footer clearfix">
				<div class="container">
						<div class="col-xs-6 footer-para">
							<p>&copy; <a href="#">SpotPoto.com</a> All right reserved</p>
						</div>

						<div class="col-xs-6 text-right">
							<a href="https://www.facebook.com/spotpoto.spotpoto.3"><i class="fa fa-facebook"></i></a>
							<a href="https://mobile.twitter.com/spotpoto1"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-skype"></i></a>
						</div>
				</div>
			</footer>


			<script type="text/javascript">

			// $(document).ready(function(){
			// 		$('#submit_button').click(function(event){
			// 			console.log("ready to execute");
			// 			// alert(console.log(document.getElementById('name').innerHTML));
			// 	    // alert('Hooray!');
			// 	    event.preventDefault(); // Prevent link from following its href
			// 	  });
			//
			// })

			</script>
